.our-creations {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 6rem;

    h2{
        font-size: clamp(1.5rem, 5vw, 4rem)
    }

    .mobile-img{
        display: block;
    }

    .desktop-img{
        display: none;
    }

    .image-container {
        position: relative;

        img {
            width: clamp(20rem, 80vw, 40rem);
            margin-bottom: 1rem;
        }

        h3{
            color: white;
            position: absolute;
            bottom: 1rem;
            margin-left: 20px;
            font-weight: 300;
            font-size: clamp(1.4rem, 4vw, 2rem);
        }
    }
    
    a{
        color: black;
        border: 1px solid black;
        font-size: 1rem;
        letter-spacing: 3px;
        padding: 0rem 2.5rem;
        padding-bottom: 0.7rem;
        padding-top: 0.9rem;
        font-weight: 700;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 810px) {
    .our-creations {
        display: grid;
        grid-template-columns: clamp(12rem, 20vw, 15rem) clamp(12rem, 20vw, 15rem) clamp(12rem, 20vw, 15rem) clamp(12rem, 20vw, 15rem);
        grid-template-rows: 5rem 22rem 22rem;
        gap: clamp(1rem, 6vw, 6rem) clamp(1rem, 2vw, 2rem);

        padding-top: 10rem;

        h2{
            grid-row: 1;
            grid-column: 1/4;
            font-size: clamp(2.3rem, 2vw, 3rem);
        }

        a{
            grid-row: 1;
            grid-column: 4;
            margin: 0;
            padding: 0.6rem 1rem;
            font-size: 0.8rem;
            width: 5rem;
            justify-self: end;
        }

        .mobile-img{
            display: none;
        }

        .desktop-img{
            display: block;
            max-width: clamp(12rem, 20vw, 15rem);
        }
    }
}