.our-creations {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 6rem;

    .mobile-img{
        display: block;
    }

    .desktop-img{
        display: none;
    }

    .image-container {
        position: relative;

        img {
            width: 20rem;
            margin-bottom: 1rem;
        }

        h3{
            color: white;
            position: absolute;
            bottom: 1rem;
            margin-left: 20px;
            font-weight: 300;
            font-size: 1.4rem;
        }
    }
    
    a{
        color: black;
        border: 1px solid black;
        font-size: 1rem;
        letter-spacing: 3px;
        padding: 0rem 2.5rem;
        padding-bottom: 0.7rem;
        padding-top: 0.9rem;
        font-weight: 700;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 810px) {
    .our-creations {
        display: grid;

        img{
            width: 10px;
        }

        .mobile-img{
            display: none;
        }

        .desktop-img{
            display: flex;
        }

        h2{
            grid-row: 1;
            grid-column: 1/4;
        }

        a{
            grid-row: 1;
            grid-column: 4;
        }
    }
}