.vr{
    padding: 0rem 1.3rem;
    padding-top: 4rem;
    text-align: center;

    img{
        width: 100%;
    }

    h2{
        font-weight: 300;
        font-size: 2rem;
    }

    p{
        color: hsl(0, 0%, 55%);
        width: 20rem;
        line-height: 1.8;
    }
}

@media screen and (min-width: 810px) {
    .vr{
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin-top: 4rem;
        background-color: rgb(242, 228, 239);

        img{
            width: clamp(24rem, 40vw, 40rem);
        }

        article{
            display: flex;
            flex-direction: column;

            padding: 1rem;
            width: clamp(20rem, 40vw, 30rem);
            
            h2, p{
                margin: 0;
            }

            h2{
                font-size: clamp(2rem, 3vw, 3rem);
                text-align: left;
            }

            p{
                font-size: clamp(0.8rem, 2vw, 1.3rem);
                text-align: left;
            }
        }
    }
}