.vr{
    padding: 0rem 1.3rem;
    padding-top: 6rem;
    text-align: center;

    img{
        width: 100%;
    }

    h2{
        font-weight: 300;
        font-size: 2rem;
    }

    p{
        color: hsl(0, 0%, 55%);
        width: 20rem;
        line-height: 1.8;
    }
}

@media screen and (min-width: 810px) {
    .vr{
        display: flex;

        img{
            width: 24rem;
            height: 18rem;
        }

        article{
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 1rem;
            width: 20rem;

            background-color: rgb(242, 228, 239);
            
            h2, p{
                margin: 0;
            }

            h2{
                font-size: 2rem;
                text-align: left;
            }

            p{
                font-size: 0.8rem;
                text-align: left;
            }
        }
    }
}