.vr{
    padding: 0rem 1.3rem;
    padding-top: 6rem;
    text-align: center;

    img{
        width: 100%;
    }

    h2{
        font-weight: 300;
        font-size: 2rem;
    }

    p{
        color: hsl(0, 0%, 55%);
        width: 20rem;
        line-height: 1.8;
    }
}