@import "./header";
@import "./vr";
@import "./our-creations";
@import "./footer";

html {
    font-family: "Alata", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;

    h1,
    h2,
    h3 {
        font-family: "Josefin Sans", sans-serif;
    }

    a{
        font-family: "Josefin Sans", sans-serif;
        text-decoration: none;
    }

    ul{
        list-style: none;
    }

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
