@import "./header";
@import "./vr";

html {
    font-family: "Alata", sans-serif;
}

body {
    margin: 0;

    h1,
    h2,
    h3 {
        font-family: "Josefin Sans", sans-serif;
    }

    a{
        font-family: "Josefin Sans", sans-serif;
        text-decoration: none;
        color: white;
    }

    ul{
        list-style: none;
    }

    main{
        display: flex;
        justify-content: center;
    }
}
